<h1>Books</h1>

<table>
  <tbody>
    <% @books.each do |book| %>
      <td>
        <div class="max-w-md w-full lg:flex">
          <div class="h-60 lg:h-60 lg:w-60 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('https://tailwindcss.com/img/card-left.jpg')" title="Woman holding a mug">
          </div>
          <div class="border-r border-b border-l lg:h-60 lg:w-60 border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex-none justify-between leading-normal">
            <div class="mb-8">
              <div class="text-black font-bold text-xl mb-2"><%=book.title%></div>
              <p class="text-grey-darker text-base"><%=book.description%></p>
            </div>
            <div class="flex items-center">
              <div class="text-sm">
                <p class="text-black leading-none">author</p>
              </div>
            </div>
            <div class="flex items-center">
              <div class="text-sm">
                <%= link_to 'Show', book %>
                <% if user_signed_in? %>
                  <%= link_to 'Edit', edit_book_path(book) %>
                  <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </td>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Book', new_book_path %>
<% end %>
