<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
  <div class="md:flex">
    <div class="md:flex-shrink-0">
        <%= image_tag @book.image, alt: "", class: "h-48 w-full object-cover md:w-48"%>
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"><%= @book.title %></div>
      <div class="tracking-wide text-sm text-indigo-500 font-semibold"><%= @book.author %></div>
      <p class="mt-2 text-gray-500"><%= @book.description %></p>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>

<%= link_to 'Back', books_path %>
