<!DOCTYPE html>
<html lang="pt-br" class="text-gray-900 leading-tight">
  <head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="bg-gray-300 md:mx-auto">
      <nav class="w-full flex bg-gray-700 lg:px-8 px-4 py-4 text-white text-base items-center justify-between md:justify-start md:relative absolute">
        <div class="flex text-xl font-bold tracking-wider space-x-2 md:mx-0 mx-auto">
            <a href="/" class="px-4 py-2">
              <title> Library Search </title>
              <img class=" w-10 h-10" src="https://cdn0.iconfinder.com/data/icons/education-and-learning-10/64/Books-512.png" />
              <span>
                  Library Search
              </span>
            </a>
        </div>
        <% if user_signed_in? %>
          <ul class="text-gray-300 flex md:space-x-2 p-2 md:px-0 md:space-y-0 space-y-1 md:ml-4 md:relative absolute top-full bg-gray-700 flex-col md:flex-row left-0 right-0">
              <li>
                  <a href="/" class="font-semibold px-4 py-2 hover:bg-gray-800 hover:text-white rounded-lg block" >Dashboard</a>
              </li>
              <li>
                  <a href="/books/new" class="font-semibold px-4 py-2 hover:bg-gray-800 hover:text-white rounded-lg block" >Novo Livro</a>
              </li>
              <%# <li>
                  <a href="/users/new" class="font-semibold px-4 py-2 hover:bg-gray-700 hover:text-white rounded-lg block" >Novo usuário</a>
              </li> %>
          </ul>

          <div class="ml-auto flex space-x-2 items-center">
              <div class="flex items-center relative space-y-1">
                <div class="dropdown inline-block relative">
                  <button class="rounded-full overflow-hidden focus:ring-2 focus:ring-white focus:outline-none" id="menu-button" aria-expanded="true" aria-haspopup="true">
                      <img class=" w-8 h-8" src="https://cdn4.iconfinder.com/data/icons/e-commerce-181/512/477_profile__avatar__man_-512.png" aria-hidden="true" />
                  </button>
                  <ul class="dropdown-menu hidden absolute rounded-lg shadow-xl overflow-hidden top-full right-0 bg-white text-gray-700 w-48 flex-col">
                      <li>
                          <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'w-full block px-4 py-2 hover:bg-black-100' %>
                      </li>
                      <li>
                          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'w-full block px-4 py-2 hover:bg-black-100'  %>
                      </li>
                  </ul>
                </div>
                </div>
              </div>
          </div>
        <% else %>
          <div class="ml-auto flex space-x-2 items-center">
            <div class="flex items-center relative space-y-1">
                <a href="/users/sign_in" class="font-semibold px-4 py-2 hover:bg-gray-700 hover:text-white rounded-lg block" >Login</a>
            </div>
          </div>
        <% end %>
      </nav>
    <div class="px-4 sm:px-8 lg:px-16 xl:px-20 mt-6">
      <% if notice %>
        <p class="py-3 px-5 mb-4 bg-green-100 text-green-900 text-sm rounded-md border border-green-200" role="alert"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger" role="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
